---
interface Props {
    id: string
    vehiculo1: {
        marca: string
        modelo: string
        anio: number
        eficiencia: number
        tipo_vehiculo: string
    }
    vehiculo2: {
        marca: string
        modelo: string
        anio: number
        eficiencia: number
        tipo_vehiculo: string
    }
}
const { id, vehiculo1, vehiculo2 } = Astro.props;

// console.log(id, vehiculo1, vehiculo2);
---

<article
  class="bg-gray-50/10 hover:bg-gray-50/20 rounded-sm transition-all px-8 py-4 max-w-96 w-full flex flex-col"
>
  <main class="flex items-center justify-center">
    <section class="text-center">
      <p class="text-base text-quinto">{vehiculo1.tipo_vehiculo}</p>
      <h2 class="text-xl font-bold text-white mt-3">
        {vehiculo1.marca} <br>
        {vehiculo1.modelo}
      </h2>
    </section>
    <span class="font-extrabold text-4xl text-quinto px-4">VS</span>
    <section class="text-center">
      <p class="text-base text-quinto">{vehiculo2.tipo_vehiculo}</p>
      <h2 class="text-xl font-bold text-white mt-3">
        {vehiculo2.marca} <br>
        {vehiculo2.modelo}
      </h2>
    </section>
  </main>
  <footer>
    <a
      href={`/comparativas/${id}`}
      class="bg-segundo hover:bg-tercero transition-all block w-full py-2 text-center text-white rounded-md mt-4 cursor-pointer"
    >
      Ver comparativa
    </a>
  </footer>
</article>
