---
const {vehiculo} = Astro.props;

// console.log(id, vehiculo1, vehiculo2);
---

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase">
      <tr>
        <th scope="col" class="px-6 py-3 bg-gray-50"> Características </th>
        <th scope="col" class="px-6 py-3"> Valores </th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Emisión de CO₂ (g/km)
        </th>
        <td class="px-6 py-4"> {vehiculo.eficiencia} </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Consumo de Combustible (L/100Km)
        </th>
        <td class="px-6 py-4"> {vehiculo.eficiencia} </td>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Capacidad de Carga (kg)
        </th>
        <td class="px-6 py-4"> {vehiculo.capacidad_carga} </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Año
        </th>
        <td class="px-6 py-4"> {vehiculo.anio} </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Marca
        </th>
        <td class="px-6 py-4"> {vehiculo.marca} </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Tipo de Combustible
        </th>
        <td class="px-6 py-4"> {vehiculo.tipo_combustible} </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Tipo de Vehiculo
        </th>
        <td class="px-6 py-4"> {vehiculo.tipo_vehiculo} </td>
      </tr>
    </tbody>
  </table>
</div>
